[submodule "LNEngine/vendor/SPDLOG/spdlog"]
	path = LNEngine/vendor/SPDLOG/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "LNEngine/vendor/GLFW/glfw"]
	path = LNEngine/vendor/GLFW/glfw
	url = https://github.com/glfw/glfw.git
[submodule "LNEngine/vendor/VKBOOTSTRAP/vkbootstrap"]
	path = LNEngine/vendor/VKBOOTSTRAP/vkbootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "LNEngine/vendor/IMGUI/imgui"]
	path = LNEngine/vendor/IMGUI/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
